*{
    text-align: center;
}
.user_style
{
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: thick solid white;
    
}
.inputDiv{
    display: inline-block;
    margin: 0px 2px;
}

.inputBox{
    width: 125px;
}
.sub_header
{
    font-size: 10pt;
}

  
